.header{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    width: 100%;
    position: static;
    top: 0;
    z-index: 999;

}

.header_left{

    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header_left > img{
    /* to keep the aspect ratio */
    object-fit: contain;
    height: 40px;
    margin-right: 10px;

}

.serach-box{

    align-items: center;
    padding: 10px;
    display: flex;
    border-radius:5px;
    background-color: #eef3f8;
    height: 22px;
    color: gray;
}
.serach-box > input{
    outline: none;
    border: none;
    background: none;
}
.header_right{

    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}