.header{
    display: flex;

}

.header_left{

    display: flex;
    margin: 10px;
}

.header_left > img{
    /* to keep the aspect ratio */
    object-fit: contain;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;

}

.serach-box{

    align-items: center;
    padding: 10px;
    display: flex;
    border-radius:5px;
    background-color: #eef3f8;
    height: 22px;
    color: gray;
}
.serach-box > input{
    outline: none;
    border: none;
    background: none;
}